.navbar {
  position: absolute;
  top: 30px; /* adjust to taste */

  left: 50%;
  transform: translateX(-50%);

  width: 88%; /* slightly bigger than glass (85%) */
  max-width: 1200px;

  z-index: 10;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 16px 32px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 12px;
}

.mobile-menu {
  position: fixed;        /* detach from navbar */
  top: 0;
  right: 0;
  height: 100vh;
  width: 75%;
  max-width: 300px;

  background: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(12px);

  padding: 100px 24px 24px 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.1);

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}
.mobile-menu.open {
  transform: translateX(0);
}

.mobile-link {
  font-family: 'Daydream';
  color: #7a4b2a;
  font-weight: 500;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-button {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: none;

  font-size: 28px;
  font-weight: bold;

  background: #7a4b2a;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  z-index: 1000;

  transition: transform 0.2s ease, background 0.2s ease;
}

.close-button:hover {
  transform: translateX(-50%) scale(1.08);
  background: #5f3a22;
}

.close-button {
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) scale(0.9); }
  to { opacity: 1; transform: translateX(-50%) scale(1); }
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 40px;
}

.logoText {
  font-size: 42px;
  font-weight: 600;
  font-family: 'Daydream';
  color: #7a4b2a;
}

.nav-center {
  display: flex;
  gap: 30px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 540;
  font-family: 'Daydream';
  font-size: 27px;
  color: #7a4b2a;
}

.nav-link img {
  width: 20px;
  height: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
}


@media (max-width: 900px) {
  .nav-center {
    display: none; /* hide desktop links */
  }

  .hamburger {
    display: block;
  }

  .logoText {
    font-size: 32px;
  }

  .navbar {
    padding: 14px 20px;
  }
}
