.navbar {
  position: absolute;
  top: 30px; /* adjust to taste */

  left: 50%;
  transform: translateX(-50%);

  width: 88%; /* slightly bigger than glass (85%) */
  max-width: 1200px;

  z-index: 10;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 16px 32px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 12px;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);

  border-radius: 0 0 20px 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  animation: slideDown 0.25s ease;
}

.mobile-link {
  font-family: 'Daydream';
  color: #7a4b2a;
  font-weight: 500;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 40px;
}

.logo-text {
  font-size: 42px;
  font-weight: 600;
  font-family: 'Daydream';
  color: #7a4b2a;
}

.nav-center {
  display: flex;
  gap: 30px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 540;
  font-family: 'Daydream';
  font-size: 27px;
  color: #7a4b2a;
}

.nav-link img {
  width: 20px;
  height: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
}


@media (max-width: 900px) {
  .nav-center {
    display: none; /* hide desktop links */
  }

  .hamburger {
    display: block;
  }

  .logo-text {
    font-size: 32px;
  }

  .navbar {
    padding: 14px 20px;
  }
}
